[submodule "fest"]
	path = fest
	url = git@github.com:Obedience-Corp/fest.git
[submodule "camp"]
	path = camp
	url = git@github.com:Obedience-Corp/camp.git
[submodule "festival-installer"]
	path = festival-installer
	url = git@github.com:Obedience-Corp/festival-installer.git
