<nav class="sidebar">
  {{ $currentURL := .RelPermalink }}
  {{ range .Site.Menus.docs }}
    {{ if .HasChildren }}
      <div class="sidebar__section">
        <div class="sidebar__section-title">{{ .Name }}</div>
        {{ range .Children }}
          {{ $href := .URL | relURL }}
          <a href="{{ $href }}"
             class="sidebar__link{{ if eq $currentURL $href }} sidebar__link--active{{ end }}">
            {{ .Name }}
          </a>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
</nav>
